@charset "UTF-8";
@media (max-width: 960px) {
  #app #navbar #list {
    display: none;
  }
  #app #navbar #ham {
    display: block;
  }
}

@media (min-width: 961px) {
  #app #navbar #list {
    display: block;
  }
  #app #navbar #list .router {
    text-decoration: none;
    color: #131313;
    margin-left: 2rem;
    padding-bottom: 0.4rem;
    position: relative;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    /* !轉場：往右長長 */
    /* !回場：往右變透明 */
  }
  #app #navbar #list .router:focus {
    color: #FF5685;
    font-weight: 700;
  }
  #app #navbar #list .router::before {
    content: '';
    width: 0;
    height: 0.13rem;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
  #app #navbar #list .router:hover::before {
    width: 100%;
    background: #6AC7E6;
  }
  #app #navbar #list .router::after {
    content: '';
    width: 0;
    height: 0.13rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #6AC7E6;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
  #app #navbar #list .router:hover::after {
    width: 100%;
    background: transparent;
  }
  #app #navbar #list .router .list-icon {
    color: #6AC7E6;
  }
  #app #navbar #list .router .list-icon:focus {
    color: #FF5685;
  }
  #app #navbar #ham {
    display: none;
  }
  #app .type {
    margin: 1.7rem 0 1rem 0;
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

#app #navbar {
  z-index: 1;
}

#app #footer {
  width: 100%;
  position: absolute;
  bottom: 0%;
}

#app .spacerT {
  width: 100%;
  height: 56px;
}

#app .spacerB {
  width: 100%;
  height: 5rem;
}

#app .type {
  font-size: 1.7rem;
}

#app .card {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#app .card:hover {
  -webkit-filter: drop-shadow(0 0 0.35rem #999);
          filter: drop-shadow(0 0 0.35rem #999);
}

#home .icon {
  text-decoration: none;
}
