// 顏色
$bPink:#FFC4C8;
$bRed:#FF5685;
$bYellow:#FED154;
$bOrange:#FEB25E;
$bBlue:#6AC7E6;

// 平板尺寸以下
@media (max-width: 960px) { 
  #app{
    #navbar{
      #list{
        display: none;
      }
      #ham{
        display: block;
      }
    }
  }
 }

//  電腦尺寸以上
@media (min-width: 961px) { 
 #app{
   #navbar{
     #list{
       display: block;
        .router{
          text-decoration: none;
          color: #131313;
          margin-left: 2rem;
          padding-bottom: 0.4rem;
          position: relative;
          transition: 0.3s ease;

          &:focus{
            color: $bRed;
            font-weight: 700;
          }

          &::before{
            content: '';
            width: 0;
            height: 0.13rem;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: width 0.3s ease;
          }
            /* !轉場：往右長長 */
            &:hover::before{
            width: 100%;
            background: $bBlue;
          }

          &::after{
            content: '';
            width: 0;
            height: 0.13rem;
            position: absolute;
            right: 0;
            bottom: 0;
            background: $bBlue;
            transition: width 0.3s ease;
          }

          /* !回場：往右變透明 */
          &:hover::after{
            width: 100%;
            background:transparent;
          }
          
          .list-icon{
            color: $bBlue;
            &:focus{
              color: $bRed;
            }
          }
        }
     }
     #ham{
      display: none;
    }
   }

  // .section{
  //   height: 70vmin;
  // }

   .type{
    margin: 1.7rem 0 1rem 0;
  }
 }
}

// 通用 --------------
html,body{
  width: 100vw;
  height: 100vh;
  // 為了把原始 Scroll bar 去掉
  overflow: hidden;
}

#app{
  width: 100%;
  height: 100%;

  #navbar{
    z-index: 1;
  }

  #footer{
    width: 100%;
    position: absolute;
    bottom: 0%;
  }

  .spacerT{
    width: 100%;
    height: 56px;
  }

  .spacerB{
    width: 100%;
    height: 5rem;
  }

  .type{
    font-size: 1.7rem;
  }
}

#home{
  .icon{
    text-decoration:none;
  }
}